body{
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 16px;
    text-align: center;
}

h1, label{
    color: #34495e;
}

.input-container{
    padding: 5px;
}

.weather-container{
    color: #34495e;
    text-align: center;
    background-color: #ccc;
    padding:40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#country{
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.bWeather{
    font-size: 20px;
    padding: 0.5em 2em;
    border-radius: 5px;
    background-color: white;    
}

.footer-box{
    color: white;
}

.github{
    font-size: 24px;
    text-decoration: none;
    background-color: none;
    color: white;
}